<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Allo Ouvrier - {% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/logo/logo.ico') }}">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</html>
